.button-normal[data-reversed="true"] {
  background-color: transparent;
  color: var(--button-color);
}

.button-normal[data-reversed="true"]:focus,
.button-normal[data-reversed="true"]:hover {
  border: 2px solid var(--button-text);
  color: var(--button-text);
}

.button-black-border[data-reversed="true"] {
  background-color: var(--background-color);
  color: var(--button-color);
  padding: 1.2rem 2.4rem;
}

.button-black-border[data-reversed="true"]:focus,
.button-black-border[data-reversed="true"]:hover {
  border: 2px solid var(--button-text);
  color: var(--button-text);
}
