@media screen and (min-width: 1024px) {
  // GLOBAL STYLES

  h1 {
    font-size: var(--headline-1-fs);
  }

  h2 {
    font-size: var(--headline-2-fs);
    line-height: var(--small-lh);
  }

  p,
  input,
  textarea,
  label {
    font-size: var(--headline-5-and-body-fs);
    line-height: var(--largest-lh);
  }

  li[role="menu"] {
    font-size: var(--body-2-fs);
    line-height: var(--largest-lh);
  }

  // BLOCKS

  // Header block

  .header {
    position: static;
  }

  // Menu block

  .menu {
    --vertical-flow-space: 0;
    --horizontal-flow-space: 4rem;
    position: static;
    display: flex;
    align-items: center;
    margin-left: 4rem;
    padding: 0;
    background-color: transparent;
    transform: none;
    height: 100%;
  }

  // Hamburger-button block

  .hamburger {
    display: none;
  }

  // Projects block

  .project-text h2 {
    font-size: var(--headline-4-fs);
  }

  .project-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2.4rem;
    align-items: stretch;
  }

  // Project-card block

  .project-card[data-featured-project="true"] {
    grid-template-columns: 2.4rem 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
    grid-column: 1 / 3;
    max-width: 100%;
    max-height: 54rem;

    & .project-text {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      padding: 6.4rem 2.4rem 2.4rem;
    }

    & img {
      grid-column: 2 / 4;
      grid-row: 1 / 4;
    }
  }

  .project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // Services block

  .services {
    & h2 {
      text-align: left;
    }

    &-wrapper {
      display: flex;
    }
  }

  .service-container {
    & button {
      margin-left: 0;
    }

    &:not(:nth-of-type(1)) {
      margin-top: 0;
      margin-left: 2rem;
    }
  }

  // Contact block

  .contact article {
    padding: 4.8rem;
  }

  // Footer block

  .footer {
    --vertical-flow-space: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      width: 4rem;
      margin-left: 0;
      margin-right: 0;
    }

    & .text-container {
      display: flex;

      & p {
        --horizontal-flow-space: 1rem;
        font-size: var(--body-2-fs);
      }
    }
  }

  .icon-container {
    margin-top: 0;
  }
}
