.contact {
  padding: 4rem 2rem;
  color: var(--paragraph);

  & h2 {
    color: var(--headline-text);
  }

  & article {
    --vertical-flow-space: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 100%;
    max-width: 55rem;
  }

  & input:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  & input,
  & textarea {
    width: 100%;
    padding: 1.2rem 1.6rem;
  }

  & button {
    width: 100%;
  }
}
