header(class="header | black-bg")
  div(class="wrapper | flow")
    a(href='/index.html')
      picture
        source(srcset='/src/img/images/logo-tablet.png' media='(min-width: 768px)')
        img(src='/src/img/images/logo.png' alt='Logo')