.contact {
  padding: 4rem 2rem;
  color: var(--paragraph);
}

.contact h2 {
  color: var(--headline-text);
}

.contact article {
  --vertical-flow-space: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 100%;
  max-width: 55rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
}

.contact button {
  width: 100%;
}
