.projects {
  padding: 4rem 2rem;
  color: var(--background-color);
}

.projects .wrapper {
  --vertical-flow-space: 4rem;
}

.projects .description {
  --vertical-flow-space: 1rem;
}

.project-card-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 5.6rem;
  place-items: center;
}
