.button-normal {
  background-color: var(--button-color);
  padding: 1.2rem 2.4rem;
  color: var(--button-text);
  border: none;
  border: 2px solid var(--button-color);
}

.button-normal:focus,
.button-normal:hover {
  background-color: var(--button-text);
  color: var(--button-color);
}

.button-black-border {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem 4rem;
  width: 28rem;
  background-color: transparent;
  border: 2px solid var(--background-color);
}
