.icon {
  display: inline-block;
  width: var(--icon-size, 2.4rem);
  height: var(--icon-size, 2.4rem);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.down-arrow {
  --icon-size: 5.6rem;
  background-image: url(/src/img/icons/arrow-down.png);
}

.left-arrow {
  background-image: url(/src/img/icons/arrow-right.png);
  vertical-align: text-bottom;
}

.heart {
  background-image: url(/src/img/icons/heart.png);
  vertical-align: -0.6rem;
}

.github {
  background-image: url(/src/img/icons/icon-github.png);
}

.linkedin {
  background-image: url(/src/img/icons/linkedin-logo.png);
}

.twitter {
  background-image: url(/src/img/icons/twitter-icon.png);
}
