@charset "UTF-8";
:root {
  /* Colors */
  --background-color: hsl(247, 24%, 7%);
  --blog-background-color: hsl(247, 24%, 15%);
  --menu-color: hsl(247, 34%, 12%);
  --secondary-color: hsl(7, 86%, 62%);
  --tertiary-color: hsl(339, 78%, 55%);
  --button-color: hsl(32, 100%, 51%);
  --aside-color: hsl(32, 100%, 82%);
  --button-text: hsl(0, 0%, 100%);
  --headline-text: hsl(0, 0%, 100%);
  --paragraph: hsl(235, 15%, 70%);
  --black: hsl(0, 0%, 0%);
  /* Font families */
  --font-titles: "Nunito", sans-serif;
  --font-text: "Roboto", sans-serif;
  /* Font sizes */
  --headline-1-fs: 6.4rem;
  --headline-2-fs: 4.8rem;
  --headline-3-fs: 4rem;
  --headline-4-fs: 3.2rem;
  --headline-5-and-body-fs: 2.4rem;
  --body-2-fs: 2rem;
  --button-fs: 1.6rem;
  --caption-fs: 1.2rem;
  /* Line heights */
  --normal-lh: 1.2;
  --small-lh: 1.16;
  --large-lh: 1.25;
  --larger-lh: 1.5;
  --largest-lh: 1.6;
}

html {
  font-size: 62.5%;
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
}

h1,
h2,
li[role=menu] {
  font-size: var(--headline-4-fs);
  line-height: var(--large-lh);
}

h3 {
  font-size: var(--headline-5-and-body-fs);
  line-height: var(--normal-lh);
}

p,
li:not([role=menu]),
label,
input,
textarea {
  font-size: var(--body-2-fs);
  line-height: var(--largest-lh);
}

a {
  text-decoration: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--background-color);
}

*[hidden] {
  display: none !important;
}

button,
a[type=button] {
  font-size: var(--button-fs);
  line-height: var(--larger-lh);
  font-family: var(--font-titles);
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}
.flow > * + * {
  margin-top: var(--vertical-flow-space, 1em);
  margin-left: var(--horizontal-flow-space, 0);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: 155rem;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: inline-block;
  width: var(--icon-size, 2.4rem);
  height: var(--icon-size, 2.4rem);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.down-arrow {
  --icon-size: 5.6rem;
}

.left-arrow {
  background-image: url(/src/img/icons/arrow-right.png);
  vertical-align: text-bottom;
}

.heart {
  background-image: url(/src/img/icons/heart.png);
  vertical-align: -0.6rem;
}

.black-bg {
  background-color: var(--background-color);
}

.gradient-bg {
  background: linear-gradient(135deg, #f15e4b 0%, #e63371 100%);
}

.button-normal {
  background-color: var(--button-color);
  padding: 1.2rem 2.4rem;
  color: var(--button-text);
  border: none;
  border: 2px solid var(--button-color);
}

.button-normal:focus,
.button-normal:hover {
  background-color: var(--button-text);
  color: var(--button-color);
}

.button-black-border {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem 4rem;
  width: 28rem;
  background-color: transparent;
  border: 2px solid var(--background-color);
}

.pointer {
  cursor: pointer;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 8.8rem;
  z-index: 2;
}
.header .container {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 1rem;
  display: flex;
  align-items: center;
}
.header img {
  height: 3rem;
}

.footer {
  --vertical-flow-space: 3.2rem;
  padding: 4rem 2rem;
  color: var(--headline-text);
  text-align: center;
}
.footer-logo {
  width: 6rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.icon-container {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 2.4rem;
  margin-left: 0;
  margin-top: 3.2rem;
  text-align: center;
}

main {
  background: #f2f2f2;
  color: #030303;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

h1,
h2 {
  max-width: 40ch;
  font-weight: 900;
}

h2,
h3 {
  font-variant: small-caps;
}

h3 {
  font-weight: 800;
}

p,
li {
  line-height: 1.5;
}

strong,
b {
  color: #995200;
}

.link {
  position: relative;
  display: inline-block;
  color: currentColor;
  text-decoration: underline;
  font-style: italic;
  text-underline-offset: 1px;
  text-decoration-color: var(--tertiary-color);
}

.header {
  position: static;
  justify-content: center;
  height: auto;
}
@media screen and (min-width: 1366px) {
  .header {
    padding: 2rem 7.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    --vertical-flow-space: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    width: 4rem;
    margin-left: 0;
    margin-right: 0;
  }
  .footer .text-container {
    display: flex;
  }
  .footer .text-container p {
    --horizontal-flow-space: 1rem;
    font-size: var(--body-2-fs);
  }
}
@media screen and (minx-width: 1366px) {
  .footer {
    padding: 4.8rem 7.2rem;
  }
}

@media screen and (min-width: 768px) {
  .blog-grid {
    display: grid;
    grid-template-columns: minmax(25rem, 25%) 1fr;
  }
}

.blog-section {
  --vertical-flow-space: 2em;
}
.blog-section ul li::marker {
  content: "" " ";
  display: inline-block;
  margin-inline-end: 0.5em;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: var(--button-color);
}

.blog-navbar {
  padding-block-start: 4rem;
}
.blog-navbar__list {
  --vertical-flow-space: 1.6rem;
  position: sticky;
  top: 4rem;
  left: 0;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
  .blog-navbar__list a {
    font-size: 1.6rem;
  }
}

.blog-entry {
  padding: 2rem;
}
.blog-entry p, .blog-entry li, .blog-entry h3 {
  max-width: 70ch;
}
.blog-entry__header {
  position: relative;
  display: grid;
  place-items: center;
  gap: 1em;
  padding: 5rem 2rem 3rem;
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
  color: whitesmoke;
}
.blog-entry__header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 10%, #000000 100%);
  pointer-events: none;
  z-index: -1;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

.additional-information {
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  margin-left: 2em;
  box-shadow: 3px 2px 8px 3px rgba(0, 0, 0, 0.34);
  background-color: var(--aside-color);
}
@media screen and (max-width: 767px) {
  .additional-information {
    width: 100%;
    margin-left: 0;
  }
}
.additional-information ul li::marker {
  color: var(--tertiary-color);
}
.additional-information h3 {
  --padding-right: 2em;
  margin-left: -3rem;
  margin-left: -3rem;
  width: calc(100% + 2rem + 2rem + 2rem);
  display: inline-block;
  padding: 0.4em 2rem 0.4em 2rem;
  background-color: var(--button-color);
  border-radius: 0.3em;
}

.quote-block,
.quote-line {
  font-style: italic;
}

.quote-block {
  position: relative;
  border-inline-start: 5px solid var(--button-color);
  padding-inline-start: 3em;
  isolation: isolate;
  max-width: 140ch;
}
.quote-block::before, .quote-block::after {
  position: absolute;
  font-size: 14rem;
  width: 1ch;
  line-height: 0;
  font-family: monospace;
  color: rgba(241, 94, 75, 0.45);
  z-index: -1;
}
.quote-block::before {
  content: open-quote;
  top: 0.7ch;
  left: 2%;
}
.quote-block::after {
  content: close-quote;
  bottom: 0;
  right: 2%;
}

.quote-line {
  color: #995200;
}

.blog-section {
  --vertical-flow-space: 1em;
  border-block-start: 2px dashed var(--paragraph);
  padding-block-start: 2em;
  padding-block-end: 1em;
}
.blog-section p[data-no-top-margin=true] {
  margin-top: 0;
}
.blog-section > h3 {
  padding-inline-start: 0.5em;
  border-inline-start: 5px solid var(--tertiary-color);
}

/*# sourceMappingURL=styles.css.map */
