.additional-information {
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  margin-left: 2em;
  box-shadow: 3px 2px 8px 3px rgba(0, 0, 0, 0.34);
  background-color: var(--aside-color);

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-left: 0;
  }

  & ul li::marker {
    color: var(--tertiary-color);
  }

  h3 {
    --padding-right: 2em;
    margin-left: -3rem;
    margin-left: -3rem;
    width: calc(100% + 2rem + 2rem + 2rem);
    display: inline-block;
    padding: 0.4em 2rem 0.4em 2rem;
    background-color: var(--button-color);
    border-radius: 0.3em;
  }
}
