.additional-information {
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 150ch;
  margin-block: 2em;
  box-shadow: 3px 2px 8px 3px rgba(0, 0, 0, 0.34);
  background: linear-gradient(
    135deg,
    hsl(7, 86%, 82%) 0%,
    var(--aside-color) 100%
  );

  h3 {
    --padding-right: 2em;
    margin-left: -3rem;
    display: inline-block;
    padding: 0.4em var(--padding-right) 0.4em 2rem;
    background-color: var(--button-color);
    clip-path: polygon(
      0 0,
      calc(100% - var(--padding-right)) 0,
      100% 50%,
      calc(100% - var(--padding-right)) 100%,
      0 100%
    );
    border-radius: 0.3em 0 0 0.3em;
  }
}
