.blog-navbar {
  padding-block-start: 4rem;

  &__list {
    --vertical-flow-space: 1.6rem;
    position: sticky;
    top: 4rem;
    left: 0;
    margin-block-start: 2rem;
    margin-block-end: 2rem;

    & a {
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.6rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.active {
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
    }

    &__list {
      --vertical-flow-space: 0.5em;
      position: static;
      margin-block-start: 0;
      padding: 5.5rem 2rem 1rem 1rem;
      background-color: var(--menu-color);
      width: 80%;
      height: 100%;
      overflow-y: auto;

      & li {
        padding: 0.8rem 0;
        cursor: pointer;
      }
    }

    &__shadow {
      width: 20%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    & .link {
      font-variant: small-caps;
      font-style: normal;
      font-weight: bold;
      color: hsl(0, 0%, 100%);
      text-decoration: none;
      font-size: 2rem;
    }
  }
}
