:root {
  /* Colors */
  --background-color: hsl(247, 24%, 7%);
  --menu-color: hsl(247, 34%, 12%);
  --secondary-color: hsl(7, 86%, 62%);
  --tertiary-color: hsl(339, 78%, 55%);
  --button-color: hsl(32, 100%, 51%);
  --button-text: hsl(0, 0%, 100%);
  --headline-text: hsl(0, 0%, 100%);
  --paragraph: hsl(235, 15%, 70%);
  --black: hsl(0, 0%, 0%);
  /* Font families */
  --font-titles: "Nunito", sans-serif;
  --font-text: "Roboto", sans-serif;
  /* Font sizes */
  --headline-1-fs: 6.4rem;
  --headline-2-fs: 4.8rem;
  --headline-3-fs: 4rem;
  --headline-4-fs: 3.2rem;
  --headline-5-and-body-fs: 2.4rem;
  --body-2-fs: 2rem;
  --button-fs: 1.6rem;
  --caption-fs: 1.2rem;
  /* Line heights */
  --normal-lh: 1.2;
  --small-lh: 1.16;
  --large-lh: 1.25;
  --larger-lh: 1.5;
  --largest-lh: 1.6;
}

html {
  font-size: 62.5%;
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
}

h1,
h2,
li[role=menu] {
  font-size: var(--headline-4-fs);
  line-height: var(--large-lh);
}

h3 {
  font-size: var(--headline-5-and-body-fs);
  line-height: var(--normal-lh);
}

p,
li:not([role=menu]),
label,
input,
textarea {
  font-size: var(--body-2-fs);
  line-height: var(--largest-lh);
}

a {
  text-decoration: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--background-color);
}

*[hidden] {
  display: none !important;
}

button,
a[type=button] {
  font-size: var(--button-fs);
  line-height: var(--larger-lh);
  font-family: var(--font-titles);
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}
.flow > * + * {
  margin-top: var(--vertical-flow-space, 1em);
  margin-left: var(--horizontal-flow-space, 0);
}

.wrapper {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: 155rem;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: inline-block;
  width: var(--icon-size, 2.4rem);
  height: var(--icon-size, 2.4rem);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.down-arrow {
  --icon-size: 5.6rem;
}

.left-arrow {
  background-image: url(/src/img/icons/arrow-right.png);
  vertical-align: text-bottom;
}

.heart {
  background-image: url(/src/img/icons/heart.png);
  vertical-align: -0.6rem;
}

.black-bg {
  background-color: var(--background-color);
}

.gradient-bg {
  background: linear-gradient(135deg, #f15e4b 0%, #e63371 100%);
}

.button-normal {
  background-color: var(--button-color);
  padding: 1.2rem 2.4rem;
  color: var(--button-text);
  border: none;
  border: 2px solid var(--button-color);
}

.button-normal:focus,
.button-normal:hover {
  background-color: var(--button-text);
  color: var(--button-color);
}

.button-black-border {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem 4rem;
  width: 28rem;
  background-color: transparent;
  border: 2px solid var(--background-color);
}

.pointer {
  cursor: pointer;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 8.8rem;
  z-index: 2;
}
.header .container {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 1rem;
  display: flex;
  align-items: center;
}
.header img {
  height: 3rem;
}

.menu {
  --vertical-flow-space: 3.4rem;
  --horizontal-flow-space: 0;
  position: absolute;
  top: 8.8rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 8.8rem);
  margin: 0;
  padding: 3.2rem 0 0 2rem;
  background-color: var(--menu-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.15s ease-out;
  z-index: 2;
}
.menu.active {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.15s ease-in;
}
.menu a {
  color: var(--headline-text);
  transition: color 0.2s;
}
.menu a:hover {
  color: var(--button-color);
}

.hamburger {
  padding: 0;
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.active:hover {
  opacity: 0.7;
}
.hamburger.active .hamburger-inner, .hamburger.active .hamburger-inner::before, .hamburger.active .hamburger-inner::after {
  background-color: var(--button-color);
}
.hamburger-box {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19) background-color 0s 0.075s linear;
}
.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand.active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}
.hamburger--stand.active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand.active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero {
  padding: 2rem;
  color: var(--headline-text);
}
.hero .wrapper {
  --vertical-flow-space: 2.4rem;
}
.hero p {
  color: var(--paragraph);
  max-width: 45ch;
}
.hero div {
  --vertical-flow-space: 1.6rem;
}
.hero-img {
  width: 100%;
  height: 100%;
  max-width: 49.5rem;
  border-radius: 50%;
}

.projects {
  padding: 4rem 2rem;
  color: var(--background-color);
}
.projects .wrapper {
  --vertical-flow-space: 4rem;
}
.projects .description {
  --vertical-flow-space: 1rem;
}

.project-card-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 5.6rem;
  place-items: center;
}

.project-card {
  display: grid;
  grid-template-columns: 3.2rem 1fr 3.2rem;
  grid-template-rows: repeat(2, 16rem) auto;
  width: 100%;
  max-width: 58rem;
  overflow-y: hidden;
}
.project-card img {
  grid-row: 1/3;
  grid-column: 2/4;
  width: 100%;
  height: auto;
}

.project-text {
  --vertical-flow-space: 3rem;
  grid-row: 2/4;
  grid-column: 1/3;
  padding: 4rem 2.4rem 2.4rem;
  background-color: var(--background-color);
  color: var(--paragraph);
  box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.25);
}
.project-text .text-container {
  --vertical-flow-space: 1rem;
}
.project-text h2 {
  color: white;
}

.button-container {
  --vertical-flow-space: 1rem;
}
.button-container > .button-normal {
  display: block;
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.services {
  padding: 4rem 2rem;
}
.services h2 {
  margin-bottom: 3.2rem;
  text-align: center;
}

.service-container {
  width: 100%;
  max-width: 39.2rem;
  margin-left: auto;
  margin-right: auto;
}
.service-container:not(:nth-of-type(1)) {
  margin-top: 5.6rem;
}

.blog {
  --vertical-flow-space: 2.4rem;
  padding: 4rem 2rem;
  color: var(--headline-text);
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 140rem;
}

.blog-entry {
  --vertical-flow-space: 2.4rem;
  max-width: 39.2rem;
}
.blog-entry img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}
.blog-entry div {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 1rem;
  display: flex;
  align-items: center;
}
.blog-entry h3 {
  color: var(--secondary-color);
}

.banner img {
  width: 100%;
  height: 100%;
}

.contact {
  padding: 4rem 2rem;
  color: var(--paragraph);
}
.contact h2 {
  color: var(--headline-text);
}
.contact article {
  --vertical-flow-space: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 100%;
  max-width: 55rem;
}
.contact input:not(:last-child) {
  margin-bottom: 1.6rem;
}
.contact input, .contact textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
}
.contact button {
  width: 100%;
}

.footer {
  --vertical-flow-space: 3.2rem;
  padding: 4rem 2rem;
  color: var(--headline-text);
  text-align: center;
}
.footer-logo {
  width: 6rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.icon-container {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 2.4rem;
  margin-left: 0;
  margin-top: 3.2rem;
  text-align: center;
}

.button-normal[data-reversed=true] {
  background-color: transparent;
  color: var(--button-color);
}
.button-normal[data-reversed=true]:focus, .button-normal[data-reversed=true]:hover {
  border: 2px solid var(--button-text);
  color: var(--button-text);
}

.button-black-border[data-reversed=true] {
  background-color: var(--background-color);
  color: var(--button-color);
  padding: 1.2rem 2.4rem;
}
.button-black-border[data-reversed=true]:focus, .button-black-border[data-reversed=true]:hover {
  border: 2px solid var(--button-text);
  color: var(--button-text);
}

.left-arrow[data-color=orange] {
  background-image: url(/src/img/icons/orange-arrow-right.png);
  vertical-align: text-bottom;
}

/*# sourceMappingURL=styles.css.map */
